@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    font-family: "poppins";
    margin: 0;
}

/* -------------------------------------------------------------------------------  */

h1#cabecalho {
    font-size: 3em;
    margin-left: 90px;
    margin-right: 80px;
}

div#p1 {
    display: flex;
    border: #4E34B5 solid 2px;
    background-color: #4E34B5;
    align-items: center;
    color: white;
    justify-content: center;

}

h4.menu {
    font-size: 1.5em;
    margin-right: 80px;
}

a.link {
    text-decoration: none;
    color: inherit;
    font-size: 1.25em;
    margin-right: 80px;
    border: white solid;
    color: black;
    background-color: white;
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
}

#primeiro_titulo {
    font-size: 2.5em;
    text-align: center;
    margin-top: 3.1875em;

}

h2 {
    text-align: justify;
    font-size: 2.25em;

}

.bloco-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content:center;
    height: 37em;
}

div#p2 {
    width: 36.9375em;
    height: 12.75em;
    margin-top: 5.8125em;
}

#primeira_imagem {
    width: 36.875em;
    height: 23.375em;
    margin-top: 5.8125em;
    border-radius: 3.125em;
    margin-right: 2.875em;
}

.p4 {
    font-size: 1.25em;
    color: white;
    background-color: #4E34B5;
    width: 12.5em;
    height: 3.125em;
    border-radius: 6.25em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* -------------------------------------------------------------------------------  */

.img{
    width: 368px;
    display: flex;
    flex-direction: column;
}

.desc{
    border:#4E34B5 solid 2px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    margin: 0%;
    padding: 0%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
    background-color: #4E34B5;
}

.titulo{
    margin: 0%;
    font-size: 1.25em;
}

.texto{
    margin: 0%;
    margin-left: 0.57em;
    margin-right: 0.57em;
    font-size: 1.25em;
}


#imgs{
    display: flex;
    justify-content: space-around;
}

#titulob2{
    margin-left: 3.2em;
    margin-bottom: 1.8em;
    font-size: 2.5em;
    margin-top: 1.6em;
}

#bloco2{
    border: #d4d4d4 solid;
    background-color: #d4d4d4 ;
    height: 46.25em;
}

.icon1{
    font-size: 150px;
    margin: 0%;
   
}

.parte1{
   margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    margin-right: 100px;
    margin-bottom: 80px;
}

.titulo2{
    margin: 0%;
    font-size: 3em;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.desc2{
    font-size: 3em;
    margin: 0%;
}

#bloco3{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#parte2{
    margin-left: 100px;
}

#parte3{
    margin-right: 90px;
}

#parte4{
    margin-right: 120px;
}

.bloco-4{
    background-image: linear-gradient(to right, #4E34B5, #22174F );
    height: 50em;
    display: flex;
    flex-direction: column;
}
#titulo_bloco-4{
    font-size: 2.5em;
    color: white;
    margin-left: 3.2em;
    margin-top: 1.6em;
}

.desc3{
    display: flex;
    flex-direction: row;
    margin-left: 4em;
}
.desc4{
    color: white;
    margin-right: 2em;
    margin-left: 4em;
}
p.desc4{
    font-size: 2.5em;
    margin-left: 0em;
    display: flex;
    width: 22em;
    text-align: justify;
}

#img4{
    width: 40em;
    height: 27em;
    border-radius: 3.125em;
}

.subtitulo_bloco-4{
    font-size: 1.75em;
}

p.subtitulo_bloco-4{
    width:22.5em
}
.p5 {
    font-size: 1.25em;
    color: black;
    background-color: white;
    width: 12.5em;
    height: 3.125em;
    border-radius: 6.25em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#bloco-5{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#titulo_bloco-5{
    font-size: 2.5em;
    color: black;
    margin-left: 3.2em;
    margin-top: 3.2em;
}

.monobloco-5{
    margin-top: 6.25em;
    width: 24.0625em;
    height: 45.5625em;
    background-color: #4E34B5;
    display: flex;
    flex-direction: column;
    color: white;
    border-radius: 1em;
    border-color: black;
    border-style:solid;
    border-width: 4px;
    
}
.subtitulo_bloco-5{
    text-align: center;
    font-size: 3em;
}

.valor_bloco-5{
    margin-top: 0%;
    text-align: center;
    font-size: 4em;
}
 
.topicos{
    font-size:1.25em;
    margin-left: 2.75em;
}
h3.topicos{
    margin-top: 0%;
}
ul.topicos{
    width: 13.125em;
    height: 1.75em;
    margin-left: 2em;
}

li{
    margin-bottom: 0.75em;
}

#bloco-6{
    height: 24.5em;
    background-color: #1E1919;
    margin-top: 5.9375em;
    color: white;
    display: flex;
    flex-direction: column;
}
h1.titulo_bloco-6{
    font-size: 2.5em;
    margin-left: 3.2em;
    margin-top: 1.6em;
}
.monobloco-6{
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction:column;
    font-size: 1.25em;
}
#segundo_bloco-6{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.contato_bloco-6{
    color: white;
    background-color: black;
    width:13.5em;
    height: 2.725em;
    border-radius: 6.25em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
}
#icones_bloco-6{
    margin-left: 1.2em;
    margin-top: 0%;
}
.img_bloco-6{
    width:1em;
    height: 1em;
}